<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <description>Circle Of Trust</description>

   <servlet>
      <servlet-name>COTServlet</servlet-name>
      <servlet-class>org.picketlink.identity.federation.web.servlets.saml.CircleOfTrustServlet</servlet-class>
      <init-param>
        <param-name>issuer</param-name>
        <param-value>redhatPdpEntity</param-value>
      </init-param>
   </servlet>

   <servlet-mapping>
     <servlet-name>COTServlet</servlet-name>
     <url-pattern>/COTServlet</url-pattern>
   </servlet-mapping>

</web-app>
